* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf)
    
  }

  .wrapper {
    width: 100%;
    max-width:1480px;
    overflow: auto;
    height: 100vh;
    margin:0 auto;
    border: 1px solid black;
}

.container {
  max-width: 1280px;
  margin:0 auto;
}
.header-container {
  margin-top: 63px;
}
.color{
  color: #000000;
}

.header-logo{
  box-sizing: border-box;
  width: 334px;
  height: 79px;
  color:#4BCAFF;
  margin-top: 63px;
  text-decoration: none;
  font-family: Roboto;
  font-style: Regular;
  font-weight: 400;
  font-size: 80px;
}



.header-menu-list{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  height: 72px;
  background-color:#35444F;
  font-family: Roboto;
  font-style: regular;
  font-weight: 400;
  font-size: 24px;
}

.list{
  display: flex;
  box-sizing: border-box;
  padding: 20px 36px 20px 36px;
  background-color: #35444;
  border-left:1px solid #FFFF;
  align-items: center;
  font-size: 24px;
  color: #FFFF;
  font-family: Roboto;
  line-height: 28px;
  text-decoration: none
}

.list:hover{
  display: flex;
  box-sizing: border-box;
  padding: 20px 36px 20px 36px;
  background-color:  #222F3A;
  border-left:1px solid #FFFF;
  align-items: center;
  font-size: 24px;
  color: #FFFF;
  font-family: Roboto;
  line-height: 28px;
  text-decoration: none
}

.header-menu4{
  border-right:1px solid #FFFF;
}

.main-container{
  margin-top: 50px;
  background-color: #FFFF;
  display:flex;
  justify-content: space-between;
}

.aside-menu-list{
    border: 1px solid black;
}

.aside-menu-list li{
  display: flex;
}


.menu{
  width: 342px;
  height: 80px;
  color: #485863;
  text-indent: 42px;
  text-decoration: none;
  font-size: 27px;
  font-family: Roboto;
  font-weight: 400 ;
}


.menu:hover{
  width: 342px;
  height: 80px;
  background-color:#DBDBDB;
  color:#000000;
  text-indent: 62px;
  text-decoration: none;
  font-size: 27px;
  font-family: Roboto;
}



.wrapper2{
  max-width: 884px;
  box-sizing: border-box;
  margin-right: 0px;
}
.image-container{
  max-width: 886px;
  height: 530px;
  border: 1px solid black;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-logo{
  width: 320px;
  transition: transform .2s;
}

.image-logo:hover{
  width: 320px;
  transform:scale(1.2);
}

.wrapper-paragraph{
  font-size: 18px;
  color: #2C2C2C;
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
}
.main-p{
    margin-top: 37px;
}
.paragraph2{
  margin-top: 34px;
}

.footer-container{
  margin-top: 54px;
  background-color: #63696E7A;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.footer-menu{
  display: flex;
  width: 875px;
  margin-left: 40px;
}

.footer-container-item{
  display: flex;
  flex-grow: 1;
  color: #0C1927;
  font-family: Roboto;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.footer-menu-item{
  color: #0C1927;
  text-decoration: none;
}

.footer-menu-item:hover{
  color: #3181A6;
  text-decoration: underline;
}

.footer-container-item:hover{
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
  color: #3181A6;
  font-family: Roboto;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  color: #4BCAFF;
}



.copyright{
  display: flex;
  margin-right:40px;
  box-sizing: border-box;
  width: 190px;
  font-size: 24px;
  color: #010101;
  align-items: center;
}


/* .box {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  height:72px;
  border-right: 1px  solid;
  border-color: white; 
}
.box-1 {
  width:162px;
  background:#35444F;  
}
.box-2 {
  width:331px;
  background: #35444F;
  font-weight: 400;
font-size: 24px;
line-height: 28px;
}
.box-3 {
  width:153px;
  background: #222F3A; 
}
.box-4 {
  width:284px;
  background: #35444F;
}
.box-5 {
  width:221px;
  background: #35444F;
}
.box-6 {
  width:133px;
  background: #35444F;
} */